{% extends 'base.html.twig' %}

{% block titrePage %}
{% if action == "ajouter" %}
Ajout d'une entreprise
{% else %}
Modifier une entreprise
{% endif %}
{% endblock %}

{% block contenuPage %}
Saisissez les caractéristiques de l'entreprise :

{{ form_start(vueFormulaire) }}<br>

{{ form_row(vueFormulaire.idEntreprise, {'attr':{'placeholder':"Numéro d'identification..."}})}}<br>

{{ form_row(vueFormulaire.nom, {'attr':{'placeholder':"Nom de l'entreprise..."}})}}<br>

{{ form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}})}}<br>

{{ form_row(vueFormulaire.activite, {'attr':{'placeholder':"Domaine d'activité..."}})}}<br>

<button type="submit" class="btn btn-dark">Enregistrer</button>

{{ form_end(vueFormulaire) }}

{% endblock %}
