{% extends 'base.html.twig' %}


{% block titre %}
<h1> Stage de : {{stages.intitule}} </h1><br/>

<div class="card border-dark mb-3" style="max-width: 100%;">
  <div class="card-header">Stage chez {{stages.entreprise.nom}}</div>
  <div class="card-body text-dark">
    <center>
<img src="https://img.trusted.de/logo-96x96/i/b/ibm.png">
</center>
    <ul class="list-group">
    <li class="list-group-item"><b>Durée </b>: {{stages.duree}} </li>
    <li class="list-group-item"><b>Date de début</b> : {{stages.dateDebut}} </li>
    <li class="list-group-item"><b>Compétence</b> : {{stages.competence}} </li>
    <li class="list-group-item"><b>Expériences</b> : {{stages.experience}}</li>
    <li class="list-group-item"><b>Description</b> : Aucune </li>
    <li class="list-group-item"><b>Adresse de l'entreprise</b> : {{stages.entreprise.adresse}} </li>

  </ul>
  </div>
</div>

{% endblock %}
{% block contenu %}{% endblock %}
