{% extends 'base.html.twig' %}

{% block titre %}
<h1>Cette page affiche les stages proposés par {{nom}} : </h1>

<center>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr class="table-light">
            <th>
              Titre du stage
            </th>
            <th>
              Nom de l'entreprise
            </th>
            <th>
              Date début
            </th>
            <th>
              Durée
            </th>
            <th>
              Compétence
            </th>
            <th>
              Expériences
            </th>
            <th>
              Formation
            </th>
            <th>
              Plus d'infos
            </th>
          </tr>
        </thead>
        <tbody>

        {% for stageCourant in stages %}


          <tr class="table-light">
            <td>
            {{stageCourant.intitule}}
            </td>
            <td>
            {{stageCourant.entreprise.nom}}
            </td>
            <td>
            {{stageCourant.dateDebut}}
            </td>
            <td>
            {{stageCourant.duree}}
            </td>
            <td>
            {{stageCourant.competence}}
            </td>
            <td>
            {{stageCourant.experience}}
            </td>
            <td>
            {{stageCourant.formation.intitule}}
            </td>
            <td>
              <a href="{{path('pro_stages_stages',{id:stageCourant.id})}}"> <button type="button" class="btn btn-primary">En savoir plus</button> </a>
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</center>

{% endblock %}
{% block contenu %}{% endblock %}
